<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {%- assign summary = page.summary | default: page.description | default: site.description -%}
  <meta name="description" content="{{ summary | strip_html | strip_newlines | escape }}" />

  {%- assign keywords = page.keywords | default: '' -%}
  {%- if page.categories and page.categories != empty -%}
    {%- assign category_keywords = page.categories | join: ', ' -%}
    {%- if keywords != '' -%}
      {%- assign keywords = keywords | append: ', ' -%}
    {%- endif -%}
    {%- assign keywords = keywords | append: category_keywords -%}
  {%- endif -%}
  {%- if keywords == '' -%}
    {%- assign keywords = site.keywords | default: site.title -%}
  {%- endif -%}
  <meta name="keywords" content="{{ keywords | strip_html | strip_newlines | escape }}" />

  {%- seo -%}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | absolute_url }}" />

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/bower_components/lightgallery/dist/css/lightgallery.min.css' | relative_url }}" />
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.css" />
  <link rel="stylesheet" href="{{ '/assets/bower_components/bootstrap/dist/css/bootstrap.min.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/bower_components/icono/dist/icono.min.css' | relative_url }}" />
  <link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/gif" sizes="16x16" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" />

  <script>
    (function() {
      var basePath = '{{ site.baseurl | default: "" }}';
      var origin = window.location.origin || '{{ site.url | default: "" }}';
      if (!origin) {
        origin = '';
      }
      if (basePath && basePath.charAt(0) !== '/') {
        basePath = '/' + basePath;
      }
      if (basePath && basePath.slice(-1) === '/') {
        basePath = basePath.slice(0, -1);
      }
      window.base_url = origin + basePath;
    })();
  </script>

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
    crossorigin="anonymous"
  ></script>
  <script src="{{ '/assets/js/mode-switcher.js' | relative_url }}"></script>
  <script src="{{ '/assets/bower_components/jquery.easing/jquery.easing.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/bower_components/jquery-mousewheel/jquery.mousewheel.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/bower_components/ghosthunter/dist/jquery.ghostHunter.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/bower_components/lightgallery/dist/js/lightgallery-all.min.js' | relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js"></script>
  <script src="{{ '/assets/bower_components/imagesloaded/imagesloaded.pkgd.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/bower_components/nanobar/nanobar.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/bower_components/typewrite/dist/typewrite.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/on-scroll-progress.js' | relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {%- if page.usemathjax %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: { equationNumbers: { autoNumber: "AMS" } }
      });
    </script>
    <script
      type="text/javascript"
      async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    ></script>
  {%- endif %}

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>

  <script>
    (function(d, h, m) {
      var js,
        fjs = d.getElementsByTagName(h)[0];
      if (d.getElementById(m)) {
        return;
      }
      js = d.createElement(h);
      js.id = m;
      js.onload = function() {
        window.makerWidgetComInit({
          position: "left",
          widget: "ofeeof264otl2l5g-zspk40eq2gaomj2n-higi2qphmveubksi"
        });
      };
      js.src = "https://makerwidget.com/js/embed.js";
      fjs.parentNode.insertBefore(js, fjs);
    })(document, "script", "dhm");
  </script>
  <script
    data-name="BMC-Widget"
    src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
    data-id="sujaykundu"
    data-description="Support me on Buy me a coffee!"
    data-message=""
    data-color="#FF813F"
    data-position="right"
    data-x_margin="10"
    data-y_margin="10"
  ></script>
</head>
